<h1>helllo</h1>
<p>This is the welcome page  which is created using the ruby on the rails</p>
<ul>
<li>embeded</li>
<li>easy to use</li>
<li>faster</li>
<li>better thn others</li>
</ul>
<span>hey</span>
<h1>ITs easy to create a website and hosting the website using the rails</h1>
<ul>
<li>1.just create a new app using "$ rails new hii"</li>
<l1> let us see some interseting stuffs </l1>
 "$ rails s"
 Enter "localhost:3000" in ur url of firefox or in any browser
<li> let us create a controller for operating the website</li>
<b>$rails g controller home </b>
 <li>Now let us switch to the sublime or text editor..... to see the files created by the rails
	BUNCH OF FILES IS CREATED BY THE RAILS FOR UR APP</li>
<B>. GO TO APP->VIEW->HOME </B>
  <li>THEN 	Create a html file named as "index.html.erb"//.erb represents the embeded ruby with the rails
	Enter
  <b>"HELLO RUBY IM UR FRIEND"</li></b>
  <li> just go to localhost:3000
  ????????????(nothing will be changed)/........</li>
  <li> Then its time to route the information of the html to the server switch to editor and select the CONFIG->"routes.rb"</li>
  <li>To enter the route for the selected html tag enter the place where the html is located..(similar to the CSS 	style sheet link)
   Enter the code:           <b> root "home#index" </b>
   Then switch to the local host ,then message will be displayed which ur used to mentioned in the #index
</ul>







